@font-face {
  font-family: 'Act of Rejection';
  src: url('../../assets/font/Act_Of_Rejection.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
  margin: 0; 
  padding: 0; 
}

.hero-section {
  position: relative;
  overflow: hidden;
}
